{% extends '::base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="text-center">
            <h2>La quiz machine è accesa su</h2>
            <h1>{{ category }}</h1>
        </div>
        <form action="{{ path('setup_game') }}">
            <div class="row">
                <div class="col-6 text-center">
                    <h1>Giocatore 1</h1>
                    <div class="form-group">
                        <label class="control-label label-big" for="name_1">Nome</label>
                        <input class="form-control input-lg" type="text" name="name_1">
                    </div>
                    <div class="form-group">
                        <label class="control-label label-big" for="email_1">Email o codice</label>
                        <input class="form-control input-lg" type="text" name="email_1">
                    </div>
                </div>
                <div class="col-6 text-center">
                    <h1>Giocatore 2</h1>
                    <div class="form-group">
                        <label class="control-label label-big" for="name_2">Nome</label>
                        <input class="form-control input-lg" type="text" name="name_2">
                    </div>
                    <div class="form-group">
                        <label class="control-label label-big" for="email_2">Email o codice</label>
                        <input class="form-control input-lg" type="text" name="email_2">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <button class="btn btn-primary btn-lg btn-block">
                        Inizia
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
