{% extends '::base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="text-center">
            <h2>{{ match.currentQuestion.question }}</h2>
            <div id="progressTimer">
            </div>

        </div>
        <div class="row">
            <div class="col-6 text-center">
                <h1>Giocatore 1</h1>
                <h2>{{ match.player1.name }}</h2>
                <div id="player-1-questions">
                    <div class="question">
                        <button type="button" class="btn btn-default btn-circle btn-xl btn-red"></button>
                        {{ match.currentQuestion.answer1 }}
                    </div>
                    <div class="question">
                        <button type="button" class="btn btn-default btn-circle btn-xl btn-green"></button>
                        {{ match.currentQuestion.answer2 }}
                    </div>
                    <div class="question">
                        <button type="button" class="btn btn-default btn-circle btn-xl btn-yellow"></button>
                        {{ match.currentQuestion.answer3 }}
                    </div>
                    <div class="question">
                        <button type="button" class="btn btn-default btn-circle btn-xl btn-blue"></button>
                        {{ match.currentQuestion.answer4 }}
                    </div>
                </div>
            </div>
            <div class="col-6 text-center">
                <h1>Giocatore 2</h1>
                <h2>{{ match.player2.name }}</h2>
                <div id="player-2-questions">
                    <div class="question">
                        <button type="button" class="btn btn-default btn-circle btn-xl btn-red"></button>
                        {{ match.currentQuestion.answer1 }}
                    </div>
                    <div class="question">
                        <button type="button" class="btn btn-default btn-circle btn-xl btn-green"></button>
                        {{ match.currentQuestion.answer2 }}
                    </div>
                    <div class="question">
                        <button type="button" class="btn btn-default btn-circle btn-xl btn-yellow"></button>
                        {{ match.currentQuestion.answer3 }}
                    </div>
                    <div class="question">
                        <button type="button" class="btn btn-default btn-circle btn-xl btn-blue"></button>
                        {{ match.currentQuestion.answer4 }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.progressTimer.min.js') }}"></script>
    <script>

        $("#progressTimer").progressTimer({
            timeLimit: {{ match.questionTimeout }},
            warningThreshold: {{ match.questionTimeout }}/2,
            baseStyle: 'progress-bar-success',
            warningStyle: 'progress-bar-warning',
            completeStyle: 'progress-bar-danger',
            onFinish: function () {
                document.location = '{{ path('show_current_question_result')}}?p1='+playerReady[1]+'&p2='+playerReady[2];
            }
        });

        var playerReady = [];
        playerReady[1] = 0;
        playerReady[2] = 0;
        var playerResponseTime = [];
        playerResponseTime[1] = 0;
        playerResponseTime[2] = 0;

        function gameBtnPressed(player, button) {
            playerReady[player] = button;
            $("#player-" + player + "-questions").html('<div class="jumbotron"><h1>Fatto!</h1></div>');
            if (playerReady[1] && playerReady[2]) {
                document.location = '{{ path('show_current_question_result')}}?p1='+playerReady[1]+'&p2='+playerReady[2];
            }
        }


        $(document).keypress(function (event) {
            switch (event.charCode) {
                case 49:
                    gameBtnPressed(1, 1);
                    break;
                case 50:
                    gameBtnPressed(1, 2);
                    break;
                case 51:
                    gameBtnPressed(1, 3);
                    break;
                case 52:
                    gameBtnPressed(1, 4);
                    break;
                case 53:
                    gameBtnPressed(2, 1);
                    break;
                case 54:
                    gameBtnPressed(2, 2);
                    break;
                case 55:
                    gameBtnPressed(2, 3);
                    break;
                case 56:
                    gameBtnPressed(2, 4);
                    break;
            }

        });
    </script>
{% endblock %}
