{% extends '::base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6 text-center">
                <h1>Giocatore 1</h1>
                <h2>{{ match.player1.name }}</h2>
                <div id="player-1-questions">

                    {% if match.pointsPlayer1Sum>match.pointsPlayer2Sum%}
                        <div class="jumbotron alert-success">
                            <h1>Vinto</h1>
                            <h2>{{ match.pointsPlayer1Sum }}</h2>
                        </div>
                    {% endif %}
                    {% if match.pointsPlayer1Sum==match.pointsPlayer2Sum%}
                        <div class="jumbotron alert-warning">
                            <h1>Pareggio</h1>
                            <h2>{{ match.pointsPlayer1Sum }}</h2>
                        </div>
                    {% endif %}
                    {% if match.pointsPlayer1Sum<match.pointsPlayer2Sum%}
                        <div class="jumbotron alert-danger">
                            <h1>Perso</h1>
                            <h2>{{ match.pointsPlayer1Sum }}</h2>
                        </div>
                    {% endif %}
                    <div class="question">
                        <button type="button" class="btn btn-default btn-circle btn-xl btn-green"></button>
                       Premi per proseguire
                    </div>

                </div>
            </div>
            <div class="col-6 text-center">
                <h1>Giocatore 2</h1>
                <h2>{{ match.player2.name }}</h2>
                <div id="player-2-questions">
                    {% if match.pointsPlayer1Sum<match.pointsPlayer2Sum%}
                        <div class="jumbotron alert-success">
                            <h1>Vinto</h1>
                            <h2>{{ match.pointsPlayer2Sum }}</h2>
                        </div>
                    {% endif %}
                    {% if match.pointsPlayer1Sum==match.pointsPlayer2Sum%}
                        <div class="jumbotron alert-warning">
                            <h1>Pareggio</h1>
                            <h2>{{ match.pointsPlayer2Sum }}</h2>
                        </div>
                    {% endif %}
                    {% if match.pointsPlayer1Sum>match.pointsPlayer2Sum%}
                        <div class="jumbotron alert-danger">
                            <h1>Perso</h1>
                            <h2>{{ match.pointsPlayer2Sum }}</h2>
                        </div>
                    {% endif %}
                    <div class="question">
                        <button type="button" class="btn btn-default btn-circle btn-xl btn-green"></button>
                        Premi per proseguire
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.progressTimer.min.js') }}"></script>
    <script>



        var playerReady = [];
        playerReady[1] = 0;
        playerReady[2] = 0;


        function gameBtnPressed(player, button) {
            if (button == 2) {
                $('#player-' + player + '-questions').html('<h1>Pronto per la gara</h1>');
                playerReady[player] = true;
                if (playerReady[1] && playerReady[2]) {
                    document.location = '{{ path('setup_game') }}';
                }
            }
        }


        $(document).keypress(function (event) {
            switch (event.charCode) {
                case 49:
                    gameBtnPressed(1, 1);
                    break;
                case 50:
                    gameBtnPressed(1, 2);
                    break;
                case 51:
                    gameBtnPressed(1, 3);
                    break;
                case 52:
                    gameBtnPressed(1, 4);
                    break;
                case 53:
                    gameBtnPressed(2, 1);
                    break;
                case 54:
                    gameBtnPressed(2, 2);
                    break;
                case 55:
                    gameBtnPressed(2, 3);
                    break;
                case 56:
                    gameBtnPressed(2, 4);
                    break;
            }

        });
    </script>
{% endblock %}
