{% extends '::base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="text-center">
            <h2>Inizio gara</h2>
            <h3>Ci saranno {{ match.howManyQuestions }} domande con {{ match.questionTimeout }} secondi per ogni
                domanda.</h3>
        </div>
        <div class="row">
            <div class="col-6 text-center">
                <h1>Giocatore 1</h1>
                <h2>{{ match.player1.name }}</h2>
                <div id="player-1-questions">
                    <div class="question">
                        <button type="button" class="btn btn-default btn-circle btn-xl btn-red"></button>
                    </div>
                    <div class="question">
                        <button type="button" class="btn btn-default btn-circle btn-xl btn-green"></button>
                        Quando sei pronto premi il pulsante VERDE
                    </div>
                    <div class="question">
                        <button type="button" class="btn btn-default btn-circle btn-xl btn-yellow"></button>
                    </div>
                    <div class="question">
                        <button type="button" class="btn btn-default btn-circle btn-xl btn-blue"></button>
                    </div>
                </div>
            </div>
            <div class="col-6 text-center">
                <h1>Giocatore 2</h1>
                <h2>{{ match.player2.name }}</h2>
                <div id="player-2-questions">
                    <div class="question">
                        <button type="button" class="btn btn-default btn-circle btn-xl btn-red"></button>
                    </div>
                    <div class="question">
                        <button type="button" class="btn btn-default btn-circle btn-xl btn-green"></button>
                        Quando sei pronto premi il pulsante VERDE
                    </div>
                    <div class="question">
                        <button type="button" class="btn btn-default btn-circle btn-xl btn-yellow"></button>
                    </div>
                    <div class="question">
                        <button type="button" class="btn btn-default btn-circle btn-xl btn-blue"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var playerReady = [];
        playerReady[1] = false;
        playerReady[2] = false;

        function gameBtnPressed(player, button) {
            if (button == 2) {
                $('#player-' + player + '-questions').html('<h1>Pronto per la gara</h1>');
                playerReady[player] = true;
                if (playerReady[1] && playerReady[2]) {
                    document.location = '{{ path('get_question') }}';
                }
            }
        }

        $(document).keypress(function (event) {
            switch (event.charCode) {
                case 49:
                    gameBtnPressed(1, 1);
                    break;
                case 50:
                    gameBtnPressed(1, 2);
                    break;
                case 51:
                    gameBtnPressed(1, 3);
                    break;
                case 52:
                    gameBtnPressed(1, 4);
                    break;
                case 53:
                    gameBtnPressed(2, 1);
                    break;
                case 54:
                    gameBtnPressed(2, 2);
                    break;
                case 55:
                    gameBtnPressed(2, 3);
                    break;
                case 56:
                    gameBtnPressed(2, 4);
                    break;
            }

        });
    </script>
{% endblock %}
