.label-big {
    font-size: 45px;
}

.question {
     color: rgb(255, 255, 255);
     font-size: 36px;
     font-weight: 900;
     padding-bottom: 30px;
     font-family: \'Source Sans Pro\', sans-serif;
    text-align: left;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}
.btn-circle.btn-xl {
    width: 90px;
    height: 90px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 45px;
}

.btn-red {
    background-color: red;
}

.btn-green {
    background-color: green;
}


.btn-yellow {
    background-color: yellow;
}


.btn-blue {
    background-color: blue;
}